Repository developer239/compgen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: add lerna build step
  .github/workflows/main.yml
Due: none

ci: add lockfile fix
  .github/workflows/main.yml
Due: none

fix: lockfile
  yarn.lock
Due: none

chore(release): publish
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/macro-generators/code-quality/CHANGELOG.md
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/cra/CHANGELOG.md
  packages/macro-generators/cra/package.json
  packages/macro-generators/nest/CHANGELOG.md
  packages/macro-generators/nest/package.json
  packages/macro-generators/next/CHANGELOG.md
  packages/macro-generators/next/package.json
  packages/micro-generators/browserlist/CHANGELOG.md
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/cra-min/CHANGELOG.md
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/editor-config/CHANGELOG.md
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/eslint/CHANGELOG.md
  packages/micro-generators/eslint/package.json
  packages/micro-generators/git-hooks/CHANGELOG.md
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/heroku/CHANGELOG.md
  packages/micro-generators/heroku/package.json
  packages/micro-generators/nest-min/CHANGELOG.md
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/next-min/CHANGELOG.md
  packages/micro-generators/next-min/package.json
  packages/micro-generators/prettier/CHANGELOG.md
  packages/micro-generators/prettier/package.json
  packages/micro-generators/stylelint/CHANGELOG.md
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/ts-node/CHANGELOG.md
  packages/micro-generators/ts-node/package.json
Due: prettier --write

chore: test release
  packages/core/core/README.md
Due: prettier --write

ci: remove lockfile fix
  .github/workflows/main.yml
Due: none

chore(release): publish
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
Due: prettier --write

fix: code quality dependencies
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/code-quality/yarn.lock
Due: prettier --write

fix: bin target
  packages/core/core/package.json
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/cra/package.json
  packages/macro-generators/nest/package.json
  packages/macro-generators/next/package.json
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/eslint/package.json
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/heroku/package.json
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/next-min/package.json
  packages/micro-generators/prettier/package.json
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/ts-node/package.json
Due: prettier --write

fix: lockfiles
  packages/macro-generators/code-quality/yarn.lock
  packages/macro-generators/cra/package.json
  packages/macro-generators/cra/yarn.lock
  packages/macro-generators/nest/package.json
  packages/macro-generators/nest/yarn-error.log
  packages/macro-generators/nest/yarn.lock
  packages/macro-generators/next/package.json
  packages/macro-generators/next/yarn.lock
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/browserlist/yarn.lock
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/cra-min/yarn.lock
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/editor-config/yarn.lock
  packages/micro-generators/eslint/package.json
  packages/micro-generators/eslint/yarn.lock
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/git-hooks/yarn.lock
  packages/micro-generators/heroku/package.json
  packages/micro-generators/heroku/yarn.lock
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/nest-min/yarn.lock
  packages/micro-generators/next-min/package.json
  packages/micro-generators/next-min/yarn.lock
  packages/micro-generators/prettier/package.json
  packages/micro-generators/prettier/yarn.lock
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/stylelint/yarn.lock
  packages/micro-generators/ts-node/package.json
  packages/micro-generators/ts-node/yarn.lock
Due: prettier --write

chore: test release
  packages/micro-generators/browserlist/README.md
Due: prettier --write

chore(release): publish
  packages/macro-generators/cra/CHANGELOG.md
  packages/macro-generators/cra/package.json
  packages/macro-generators/next/CHANGELOG.md
  packages/macro-generators/next/package.json
  packages/micro-generators/browserlist/CHANGELOG.md
  packages/micro-generators/browserlist/package.json
Due: prettier --write

chore: test complicated release
  packages/core/core/README.md
Due: prettier --write

chore: improve testing environment
  .gitignore
  package.json
  test-generator.sh
Due: prettier --write

docs: update browserlist docs
  packages/micro-generators/browserlist/README.md
Due: prettier --write

docs: update cra-min docs
  packages/micro-generators/cra-min/README.md
Due: prettier --write

docs: update editor config docs
  packages/micro-generators/editor-config/README.md
Due: prettier --write

feat: update lintstaged template
  packages/micro-generators/git-hooks/src/templates/.lintstagedrc.hbs
Due: none

docs: update git hooks documentation
  packages/micro-generators/git-hooks/README.md
Due: prettier --write

fix: lintstaged template spacing
  packages/micro-generators/git-hooks/src/templates/.lintstagedrc.hbs
Due: none

feat: improve heroku templates
  packages/core/core/src/services/prompt/index.ts
  packages/macro-generators/cra/src/index.ts
  packages/macro-generators/nest/src/index.ts
  packages/macro-generators/next/src/index.ts
  packages/micro-generators/heroku/src/bin.ts
  packages/micro-generators/heroku/src/index.ts
  packages/micro-generators/heroku/src/templates/node/app.json.hbs
  packages/micro-generators/heroku/src/templates/web/app.json.hbs
Due: eslint --fix, prettier --write

docs: update heroku generator documentation
  packages/micro-generators/heroku/README.md
Due: prettier --write

docs: update prettier documentation
  packages/micro-generators/prettier/README.md
Due: prettier --write

chore: minor stylelint updates
  packages/micro-generators/stylelint/README.md
  packages/micro-generators/stylelint/src/bin.ts
Due: eslint --fix, prettier --write

docs: update ts-node documentation
  packages/micro-generators/ts-node/README.md
Due: prettier --write

docs: update next min documentation
  packages/micro-generators/next-min/README.md
Due: prettier --write

fix: nest cli initialization command
  packages/micro-generators/nest-min/src/index.ts
Due: eslint --fix, prettier --write

docs: update nestjs documentation
  packages/micro-generators/nest-min/README.md
Due: prettier --write

fix: linting issues
  packages/micro-generators/cra-min/src/templates/react-router/src/pages/Home/test/Home.test.tsx.hbs
  packages/micro-generators/cra-min/src/templates/react-router/src/pages/NotFound/test/NotFound.test.tsx.hbs
  packages/micro-generators/next-min/src/templates/src/pages/Home/test/HomePage.test.tsx.hbs
Due: none

fix: absolute paths in nextjs templates
  packages/micro-generators/next-min/src/templates/pages/index.tsx.hbs
  packages/micro-generators/next-min/src/templates/tsconfig.json.hbs
Due: none

refactor: fix typo
  packages/core/core/src/helpers/object/addProperty.test.ts
Due: eslint --fix, prettier --write

chore: rename ISchemaAddFile name property
  packages/core/core/src/services/schema/builder.test.ts
  packages/core/core/src/services/schema/executor.ts
  packages/core/core/src/types.ts
  packages/micro-generators/browserlist/src/index.ts
  packages/micro-generators/cra-min/src/index.ts
  packages/micro-generators/editor-config/src/index.ts
  packages/micro-generators/eslint/src/index.ts
  packages/micro-generators/git-hooks/src/index.ts
  packages/micro-generators/heroku/src/index.ts
  packages/micro-generators/nest-min/src/index.ts
  packages/micro-generators/next-min/src/index.ts
  packages/micro-generators/prettier/src/index.ts
  packages/micro-generators/stylelint/src/index.ts
  packages/micro-generators/ts-node/src/index.ts
Due: eslint --fix, prettier --write

fix: remove scripts first then add scripts
  packages/core/core/src/services/schema/executor.ts
Due: eslint --fix, prettier --write

chore: add minimal CRA start command
  packages/micro-generators/cra-min/src/index.ts
Due: eslint --fix, prettier --write

feat: prepare AppType for new frameworks
  packages/core/core/src/services/prompt/index.ts
  packages/core/core/src/types.ts
  packages/macro-generators/code-quality/src/index.ts
  packages/macro-generators/cra/src/index.ts
  packages/macro-generators/next/src/index.ts
  packages/micro-generators/eslint/src/index.ts
  packages/micro-generators/eslint/src/templates/react-native/.eslintrc.js.hbs
  packages/micro-generators/eslint/src/templates/react/.eslintrc.js.hbs
  packages/micro-generators/git-hooks/src/index.ts
  packages/micro-generators/heroku/src/bin.ts
  packages/micro-generators/heroku/src/templates/react/Procfile.hbs
  packages/micro-generators/heroku/src/templates/react/app.json.hbs
  packages/micro-generators/prettier/src/index.ts
  packages/micro-generators/stylelint/src/bin.ts
  packages/micro-generators/stylelint/src/templates/react-native/.stylelintrc.js.hbs
  packages/micro-generators/stylelint/src/templates/react/.stylelintrc.js.hbs
Due: eslint --fix, prettier --write

feat: create react native micro generator
  README.md
  packages/core/core/src/services/schema/builder.ts
  packages/core/core/src/services/schema/executor.ts
  packages/core/core/src/types.ts
  packages/micro-generators/rna-min/README.md
  packages/micro-generators/rna-min/package.json
  packages/micro-generators/rna-min/src/bin.ts
  packages/micro-generators/rna-min/src/index.ts
  packages/micro-generators/rna-min/src/templates/base/.github/workflows/android.yml
  packages/micro-generators/rna-min/src/templates/base/.github/workflows/ios.yml
  packages/micro-generators/rna-min/src/templates/base/README.md.hbs
  packages/micro-generators/rna-min/src/templates/base/babel.config.js.hbs
  packages/micro-generators/rna-min/src/templates/base/e2e/HomeScreen.test.ts.hbs
  packages/micro-generators/rna-min/src/templates/base/e2e/config.json.hbs
  packages/micro-generators/rna-min/src/templates/base/e2e/init.ts.hbs
  packages/micro-generators/rna-min/src/templates/base/index.js.hbs
  packages/micro-generators/rna-min/src/templates/base/jest.config.js.hbs
  packages/micro-generators/rna-min/src/templates/base/src/App.tsx.hbs
  packages/micro-generators/rna-min/src/templates/base/src/components/Layout/index.ts.hbs
  packages/micro-generators/rna-min/src/templates/base/src/screens/Home/index.tsx.hbs
  packages/micro-generators/rna-min/src/templates/base/src/screens/Home/test/Home.test.tsx.hbs
  packages/micro-generators/rna-min/src/templates/base/tsconfig.json.hbs
  packages/micro-generators/rna-min/tsconfig.build.json
  packages/micro-generators/rna-min/tsconfig.json
Due: eslint --fix, prettier --write

feat: add full react native generator
  README.md
  packages/macro-generators/rna/README.md
  packages/macro-generators/rna/package.json
  packages/macro-generators/rna/src/bin.ts
  packages/macro-generators/rna/src/index.ts
  packages/macro-generators/rna/tsconfig.build.json
  packages/macro-generators/rna/tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{md,json})
