Repository developer239/compgen: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: don't remove test-renderer
  packages/micro-generators/rna-min/src/index.ts
Due: eslint --fix, prettier --write

chore(release): publish
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/macro-generators/code-quality/CHANGELOG.md
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/cra/CHANGELOG.md
  packages/macro-generators/cra/package.json
  packages/macro-generators/nest/CHANGELOG.md
  packages/macro-generators/nest/package.json
  packages/macro-generators/next/CHANGELOG.md
  packages/macro-generators/next/package.json
  packages/macro-generators/rna/CHANGELOG.md
  packages/macro-generators/rna/package.json
  packages/micro-generators/browserlist/CHANGELOG.md
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/cra-min/CHANGELOG.md
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/editor-config/CHANGELOG.md
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/eslint/CHANGELOG.md
  packages/micro-generators/eslint/package.json
  packages/micro-generators/git-hooks/CHANGELOG.md
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/heroku/CHANGELOG.md
  packages/micro-generators/heroku/package.json
  packages/micro-generators/nest-min/CHANGELOG.md
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/next-min/CHANGELOG.md
  packages/micro-generators/next-min/package.json
  packages/micro-generators/prettier/CHANGELOG.md
  packages/micro-generators/prettier/package.json
  packages/micro-generators/rna-min/CHANGELOG.md
  packages/micro-generators/rna-min/package.json
  packages/micro-generators/stylelint/CHANGELOG.md
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/ts-node/CHANGELOG.md
  packages/micro-generators/ts-node/package.json
Due: prettier --write

fix: reference correct template folders
  packages/micro-generators/stylelint/README.md
  packages/micro-generators/stylelint/src/index.ts
Due: eslint --fix, prettier --write

fix: format rna name correctly
  packages/micro-generators/rna-min/src/index.ts
Due: eslint --fix, prettier --write

fix: validate rna name correctly
  packages/core/core/src/helpers/text/index.ts
  packages/core/core/src/index.ts
  packages/macro-generators/rna/README.md
  packages/macro-generators/rna/src/bin.ts
  packages/micro-generators/rna-min/README.md
  packages/micro-generators/rna-min/src/bin.ts
  packages/micro-generators/rna-min/src/index.ts
Due: eslint --fix, prettier --write

feat: add option to generate react navigation
  packages/macro-generators/rna/README.md
  packages/macro-generators/rna/src/bin.ts
  packages/macro-generators/rna/src/index.ts
  packages/micro-generators/rna-min/README.md
  packages/micro-generators/rna-min/package.json
  packages/micro-generators/rna-min/src/bin.ts
  packages/micro-generators/rna-min/src/index.ts
  packages/micro-generators/rna-min/src/prompt/index.ts
  packages/micro-generators/rna-min/src/templates/react-navigation/src/App.tsx.hbs
  packages/micro-generators/rna-min/src/templates/react-navigation/src/navigator.ts.hbs
  packages/micro-generators/rna-min/yarn.lock
Due: eslint --fix, prettier --write

chore: do minor rna-min generator improvements
  packages/micro-generators/rna-min/src/index.ts
  packages/micro-generators/rna-min/src/prompt/index.ts
  packages/micro-generators/rna-min/src/templates/base/.github/workflows/android.yml
  packages/micro-generators/rna-min/src/templates/base/.github/workflows/ios.yml
Due: eslint --fix, prettier --write

chore(release): publish
  packages/macro-generators/rna/CHANGELOG.md
  packages/macro-generators/rna/package.json
  packages/micro-generators/rna-min/CHANGELOG.md
  packages/micro-generators/rna-min/package.json
Due: prettier --write

fix: remove unused e2e folder
  packages/micro-generators/rna-min/src/templates/base/e2e/HomeScreen.test.ts.hbs
  packages/micro-generators/rna-min/src/templates/base/e2e/config.json.hbs
  packages/micro-generators/rna-min/src/templates/base/e2e/init.ts.hbs
Due: none

docs: update documentation
  README.md
Due: prettier --write

feat: add angular generator
  packages/core/core/src/types.ts
  packages/micro-generators/angular-min/README.md
  packages/micro-generators/angular-min/package.json
  packages/micro-generators/angular-min/src/bin.ts
  packages/micro-generators/angular-min/src/index.ts
  packages/micro-generators/angular-min/src/templates/base/setupJest.ts.hbs
  packages/micro-generators/angular-min/src/templates/base/tsconfig.spec.json
  packages/micro-generators/angular-min/tsconfig.build.json
  packages/micro-generators/angular-min/tsconfig.json
Due: eslint --fix, prettier --write

chore(release): publish
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/macro-generators/code-quality/CHANGELOG.md
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/cra/CHANGELOG.md
  packages/macro-generators/cra/package.json
  packages/macro-generators/nest/CHANGELOG.md
  packages/macro-generators/nest/package.json
  packages/macro-generators/next/CHANGELOG.md
  packages/macro-generators/next/package.json
  packages/macro-generators/rna/CHANGELOG.md
  packages/macro-generators/rna/package.json
  packages/micro-generators/angular-min/CHANGELOG.md
  packages/micro-generators/angular-min/package.json
  packages/micro-generators/browserlist/CHANGELOG.md
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/cra-min/CHANGELOG.md
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/editor-config/CHANGELOG.md
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/eslint/CHANGELOG.md
  packages/micro-generators/eslint/package.json
  packages/micro-generators/git-hooks/CHANGELOG.md
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/heroku/CHANGELOG.md
  packages/micro-generators/heroku/package.json
  packages/micro-generators/nest-min/CHANGELOG.md
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/next-min/CHANGELOG.md
  packages/micro-generators/next-min/package.json
  packages/micro-generators/prettier/CHANGELOG.md
  packages/micro-generators/prettier/package.json
  packages/micro-generators/rna-min/CHANGELOG.md
  packages/micro-generators/rna-min/package.json
  packages/micro-generators/stylelint/CHANGELOG.md
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/ts-node/CHANGELOG.md
  packages/micro-generators/ts-node/package.json
Due: prettier --write

feat: improve angular-min typescript configuration
  packages/micro-generators/angular-min/src/templates/base/tsconfig.json
  packages/micro-generators/angular-min/src/templates/base/tsconfig.spec.json
Due: prettier --write

chore(release): publish
  packages/micro-generators/angular-min/CHANGELOG.md
  packages/micro-generators/angular-min/package.json
Due: prettier --write

docs: link angular-min in documentation
  README.md
Due: prettier --write

refactor: rna generator name typo
  packages/macro-generators/rna/src/index.ts
Due: eslint --fix, prettier --write

feat: create full angular app generator
  README.md
  packages/macro-generators/angular/README.md
  packages/macro-generators/angular/package.json
  packages/macro-generators/angular/src/bin.ts
  packages/macro-generators/angular/src/index.ts
  packages/macro-generators/angular/tsconfig.build.json
  packages/macro-generators/angular/tsconfig.json
Due: eslint --fix, prettier --write

feat: support angular in code quality tools
  packages/core/core/src/services/prompt/index.ts
  packages/core/core/src/types.ts
  packages/macro-generators/angular/src/index.ts
  packages/macro-generators/code-quality/src/bin.ts
  packages/macro-generators/code-quality/src/index.ts
  packages/macro-generators/cra/src/index.ts
  packages/macro-generators/nest/src/index.ts
  packages/macro-generators/next/src/index.ts
  packages/macro-generators/rna/src/index.ts
  packages/micro-generators/angular-min/src/index.ts
  packages/micro-generators/eslint/src/bin.ts
  packages/micro-generators/eslint/src/index.ts
  packages/micro-generators/eslint/src/templates/angular/.eslintrc.js.hbs
  packages/micro-generators/git-hooks/src/index.ts
  packages/micro-generators/git-hooks/src/templates/angular/.lintstagedrc.hbs
  packages/micro-generators/git-hooks/src/templates/base/.huskyrc.hbs
  packages/micro-generators/git-hooks/src/templates/base/commitlint.config.js.hbs
  packages/micro-generators/git-hooks/src/templates/node/.lintstagedrc.hbs
  packages/micro-generators/git-hooks/src/templates/react-and-react-native/.lintstagedrc.hbs
  packages/micro-generators/nest-min/src/index.ts
  packages/micro-generators/prettier/src/index.ts
  packages/micro-generators/rna-min/src/index.ts
  packages/micro-generators/stylelint/src/bin.ts
  packages/micro-generators/stylelint/src/index.ts
  packages/micro-generators/stylelint/src/templates/angular/.stylelintrc.js.hbs
Due: eslint --fix, prettier --write

test: fix tests
  packages/core/core/src/services/schema/builder.test.ts
Due: eslint --fix, prettier --write

chore(release): publish
  packages/core/core/CHANGELOG.md
  packages/core/core/package.json
  packages/macro-generators/angular/CHANGELOG.md
  packages/macro-generators/angular/package.json
  packages/macro-generators/code-quality/CHANGELOG.md
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/cra/CHANGELOG.md
  packages/macro-generators/cra/package.json
  packages/macro-generators/nest/CHANGELOG.md
  packages/macro-generators/nest/package.json
  packages/macro-generators/next/CHANGELOG.md
  packages/macro-generators/next/package.json
  packages/macro-generators/rna/CHANGELOG.md
  packages/macro-generators/rna/package.json
  packages/micro-generators/angular-min/CHANGELOG.md
  packages/micro-generators/angular-min/package.json
  packages/micro-generators/browserlist/CHANGELOG.md
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/cra-min/CHANGELOG.md
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/editor-config/CHANGELOG.md
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/eslint/CHANGELOG.md
  packages/micro-generators/eslint/package.json
  packages/micro-generators/git-hooks/CHANGELOG.md
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/heroku/CHANGELOG.md
  packages/micro-generators/heroku/package.json
  packages/micro-generators/nest-min/CHANGELOG.md
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/next-min/CHANGELOG.md
  packages/micro-generators/next-min/package.json
  packages/micro-generators/prettier/CHANGELOG.md
  packages/micro-generators/prettier/package.json
  packages/micro-generators/rna-min/CHANGELOG.md
  packages/micro-generators/rna-min/package.json
  packages/micro-generators/stylelint/CHANGELOG.md
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/ts-node/CHANGELOG.md
  packages/micro-generators/ts-node/package.json
Due: prettier --write

docs: fix angular badge
  README.md
Due: prettier --write

feat: improve error handling
  package.json
  packages/core/core/package.json
  packages/core/core/src/services/files/createFromFolder.ts
  packages/core/core/src/services/reporter/index.ts
  packages/core/core/src/services/schema/executor.ts
  packages/core/core/src/services/shell/exec.ts
  packages/core/core/src/services/updateJson/index.ts
  packages/core/core/yarn.lock
  rollup.config.js
  yarn.lock
Due: eslint --fix, prettier --write

fix: micro generator names
  packages/micro-generators/angular-min/src/index.ts
  packages/micro-generators/cra-min/src/index.ts
  packages/micro-generators/nest-min/src/index.ts
  packages/micro-generators/next-min/src/index.ts
Due: eslint --fix, prettier --write

ci: pass rollbar token in CI
  .github/workflows/main.yml
Due: none

fix: don't override schema name
  packages/core/core/src/services/schema/builder.ts
Due: eslint --fix, prettier --write

feat: make error reporting optional
  packages/core/core/src/services/schema/executor.ts
Due: eslint --fix, prettier --write

fix: project name validation
  packages/core/core/package.json
  packages/core/core/src/helpers/text/index.ts
  packages/core/core/src/index.ts
  packages/core/core/src/services/prompt/index.ts
  packages/core/core/src/services/validator/validateProjectFolder.ts
  packages/core/core/yarn.lock
  packages/macro-generators/angular/src/bin.ts
  packages/macro-generators/rna/src/bin.ts
  packages/micro-generators/angular-min/src/bin.ts
  packages/micro-generators/rna-min/src/bin.ts
  packages/micro-generators/rna-min/src/index.ts
Due: eslint --fix, prettier --write

fix: typo 👀
  packages/core/core/src/services/shell/exec.ts
Due: eslint --fix, prettier --write

chore: update engines configuration
  packages/core/core/package.json
  packages/macro-generators/angular/package.json
  packages/micro-generators/editor-config/package.json
  packages/micro-generators/eslint/package.json
  packages/micro-generators/git-hooks/package.json
  packages/micro-generators/heroku/package.json
  packages/micro-generators/nest-min/package.json
  packages/micro-generators/next-min/package.json
  packages/micro-generators/prettier/package.json
  packages/micro-generators/rna-min/package.json
  packages/micro-generators/stylelint/package.json
  packages/micro-generators/ts-node/package.json
Due: prettier --write

fix: engines requirements
  packages/core/core/.npmrc
  packages/macro-generators/angular/.npmrc
  packages/macro-generators/code-quality/.npmrc
  packages/macro-generators/code-quality/package.json
  packages/macro-generators/cra/.npmrc
  packages/macro-generators/cra/package.json
  packages/macro-generators/nest/.npmrc
  packages/macro-generators/nest/package.json
  packages/macro-generators/next/.npmrc
  packages/macro-generators/next/package.json
  packages/macro-generators/rna/.npmrc
  packages/macro-generators/rna/package.json
  packages/micro-generators/angular-min/.npmrc
  packages/micro-generators/angular-min/package.json
  packages/micro-generators/browserlist/.npmrc
  packages/micro-generators/browserlist/package.json
  packages/micro-generators/cra-min/.npmrc
  packages/micro-generators/cra-min/package.json
  packages/micro-generators/editor-config/.npmrc
  packages/micro-generators/eslint/.npmrc
  packages/micro-generators/git-hooks/.npmrc
  packages/micro-generators/heroku/.npmrc
  packages/micro-generators/nest-min/.npmrc
  packages/micro-generators/next-min/.npmrc
  packages/micro-generators/prettier/.npmrc
  packages/micro-generators/rna-min/.npmrc
  packages/micro-generators/stylelint/.npmrc
  packages/micro-generators/ts-node/.npmrc
Due: prettier --write

feat: enforce node version
  rollup.config.js
  upgrade-note.js
Due: none

fix: enforce node version everywhere
  packages/core/core/.npmrc
Due: none

feat: create eslint auto macro generator
  README.md
  packages/core/core/src/index.ts
  packages/core/core/src/services/auto/detectAppType.ts
  packages/core/core/src/services/auto/hasDependency.ts
  packages/macro-generators/eslint-auto/.npmrc
  packages/macro-generators/eslint-auto/README.md
  packages/macro-generators/eslint-auto/package.json
  packages/macro-generators/eslint-auto/src/bin.ts
  packages/macro-generators/eslint-auto/src/index.ts
  packages/macro-generators/eslint-auto/tsconfig.build.json
  packages/macro-generators/eslint-auto/tsconfig.json
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: (any of: *.ts) or (any of: *.{md,json})
